<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title).presence || 'Inst' %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%#= tag.p notice, class: 'notice' if notice %>
    <%#= tag.p alert, class: 'alert' if alert %>

    <%= tag.header render 'shared/navbar' if user_signed_in? %>

    <%= tag.main yield %>
  </body>
</html>
